#!/usr/bin/make -f

VERSION = $(shell sed -r 's/m4_define\(\[BLKTAP_VERSION\], \[(.*)\]\)/\1/' version.m4)

pkg_libvhd = libvhd0-archipelago
vrs_libvhd = 0.1.1
pkg_libvhdio = libvhdio2-archipelago
vrs_libvhdio = $(VERSION)
pkg_libblktapctl = libblktapctl0-archipelago
vrs_libblktapctl = 0.1.1

%:
	dh $@

debian/control: version.m4 debian/control.in debian/libvhdio-archipelago-$(VERSION).install
	sed -s 's|@VERSION[@]|$(VERSION)|g' debian/control.in > debian/control

debian/libvhdio-archipelago-$(VERSION).install: debian/libvhdio-archipelago.install.in
	rm -f debian/libvhdio-archipelago-*.install
	cat debian/libvhdio-archipelago.install.in > $@

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f aclocal.m4 config.* configure depcomp install-sh ltmain.sh Makefile.in missing
	rm -f control/Makefile.in drivers/Makefile.in include/Makefile.in
	rm -f lvm/Makefile.in part/Makefile.in vhd/lib/Makefile.in
	rm -f vhd/lib/test/Makefile.in vhd/Makefile.in
	rm -f control/*.opic control/tap-ctl
	rm -f vhd/vhd-util part/part-util vhd/vhd-util part/part-util
	rm -f drivers/tapdisk2 drivers/tapdisk-stream drivers/lock-util drivers/td-util drivers/td-rated
	rm -f vhd/vhd-update vhd/vhd-index
	rm -f control/libblktapctl.so vhd/lib/libvhdio.so.* vhd/lib/libvhd.so.*
	find . -type f -iname '*.o' -delete
	rm -f build-stamp
	dh_clean

override_dh_auto_build:
	./autogen.sh
	./configure --prefix=/usr --with-pic --libexecdir=/usr/bin -sysconfdir=/etc
	$(MAKE) -j 20 USE_SYSTEM_LIBRARIES=y DESTDIR=$(CURDIR)/debian/tmp
